


/**--------------------GERAL---------------------*/

body {
    background: white;
}

 .texto-serif {

    font-family: 'Merriweather', serif;
}

.texto-sans-serif {

    font-family: 'Roboto', sans-serif;
}

.estilo-background {
    background: #6C8FB8;
}


/**--------------------LOGIN-------------------*/

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

h1 {
    font-size: 60px;
    color: black;
}

h2 {
    font-size: 40px;
    color: rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.container-login {
    width: 27%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-email {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.input-senha {
    width: 100%;
    height: 60px;
    font-size: 20px;
    padding-left: 10px;
}

.entrar-login {
    width: 50%;
    height: 60px;
    margin-top: 20px;
    background: #39385A;
    color: white;
    font-size: 20px;
}

/**--------------------LISTA QUIZZES-------------------*/


.listaQuizzes {
    display: none;
}

.topo {
    height: 60px;
    width: 100%;
    padding: 5px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.container-lista {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 25%;
}

.adicionaQuiz {
    background: #7EA6D4;
    width: 20%;
    height: 200px;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
    border-radius: 5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    color: white;
}

.Text-primeiroCard {
    font-size: 25px;
}

.container-lisa-novoQuizz {
    display: flex;
    flex-wrap: wrap;
}

.novoQuiz {
    background: white;
    width: 40%;
    height: 200px;
    border: 2px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.texto-cards {
    font-size: 20px;
    font-weight: normal;
    color: black;
    margin-top: 1px;;
}

/**--------------------CRIAR QUIZZES-------------------*/



.criarQuizz {
    display: none;
}

.container-novoQuizz {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 30%;
}

.titulo-Quizz {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.pergunta-Quizz {
    width: 100%;
    margin-bottom: 20px;
    background: #E3F0FF;
    border-radius: 10px;
    padding: 15px;
}

.replicar {
    font-size: 50px;
    margin-bottom: 60px;
    color: #6C8FB8;
}

.nivel-Quizz {
    width: 100%;
    margin-bottom: 20px;
    background: #E3F0FF;
    border-radius: 10px;
    padding: 15px;
}

.publicar {
    width: 100%;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    padding: 20px;
    border: none;
}

.numeroPergunta {
    font-size: 20px;
    margin-bottom: 10px;
}

.texto-input {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
}

.digita-pergunta {
    background: white;
    width: 100%;
    margin-bottom: 4px;
}

.container-resposta {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.respostas {
    width: 49.8%;
    margin-bottom: 2px;
}

.linkimagens {
    width: 49.8%;
    margin-bottom: 2px;
}

.resposta-correta {
    background: rgba(94, 226, 94, 0.5);
    width: 100%;
}

.resposta-incorreta {
    width: 100%;
    background: rgba(236, 59, 59, 0.5);
}

.numeroNivel {
    font-size: 20px;
    margin-bottom: 10px;
}

.qtdAcertos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-nivel {
    background: white;
    width: 49.8%;
    margin-bottom: 2px
}

.dados-nivel {
    background: white;
    width: 100%;
    margin-bottom: 2px
}

.descricao {
    padding-bottom: 60px;
    overflow: scroll;
}

/**--------------------INTERFACE QUIZZ-------------------*/


.interfaceQuizz {
    display: none;
}


.container-questao {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 25%;
}

.titulo-quizz-questao {
    font-size: 50px;
    color: black;
    width: 100%;
    margin-bottom: 30px;
}

.questao {
    width: 100%;
}

.titulo-questao {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-opcao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.opcao {
    width: 49.6%;
    margin-bottom: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.opcao-imagem {
    width: 100%;
    height: 210px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.texto-opcao {
    padding: 10px 10px 25px 10px;
    color: rgba(0, 0, 0, 0.603);
    font-size: 20px ;
}

.correto {
    background: rgba(94, 226, 94, 0.5);
}
.errado {
    background: rgba(236, 59, 59, 0.5);
}

/**--------------------RESULTADO QUIZZ-------------------*/


.resultadoQuizz {
    display: none;
}

.container-resultado {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 25%;
}

.titulo-resultado {
    font-size: 50px;
    color: black;
    width: 100%;
    margin-bottom: 30px;
}

.resultado {
    width: 100%;
}

.titulo-acertos {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.descricao-imagem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.descricao-imagem {
    width: 100%;
}

.descriao {
    width: 49.6%;
}


.texto-resultado {
    padding: 0px 10px 25px 10px;
    color: rgba(0, 0, 0, 0.603);
    font-size: 20px ;
}

.detalhe-descricao {
    padding: 10px 10px 10px 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px ;
}

.imagem-resultado {
    width: 49.8%;
}

.resultado-imagem {
    width: 100%;
    height: 300px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

/**--------------------MOBILE-------------------*/




@media (max-width: 600px) {

  /**--------------------LOGIN-------------------*/  
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }  
    .container-login {
        width: 100%;   
    }

    /**--------------------LISTA QUIZZES-------------------*/  

    .container-lista {
        width: 90%;
        margin-left: 5%;
    }
    
    .adicionaQuiz {
        width: 60%;
    }

    .novoQuiz {
        width: 60%;
    }

    /**--------------------CRIAR QUIZZES-------------------*/  
    
    .container-novoQuizz {
        width: 90%;
        margin-left: 5%;

    }
/**--------------------INTERFACE QUIZZ-------------------*/
    .container-questao {
        width: 90%;
        margin-left: 5%;
    }

    .titulo-quizz-questao {
        font-size: 30px;
    }

    .opcao {
        width: 100%;
    }


/**--------------------RESULTADO QUIZZ-------------------*/
    .container-resultado  {
        width: 90%;
        margin-left: 5%;
    }

    .titulo-resultado {
        font-size: 30px;
    }
    .descriao {
        width: 100%;
    }
    .imagem-resultado {
        width: 100%;
    }
}